@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth
  }
  body {
    @apply font-gilroy text-base text-white bg-brand-body  overflow-x-hidden 
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Days One", serif;
  font-weight: 400;
  font-style: normal;
}

.button-custom {
  @apply border border-transparent transition duration-300 hover:bg-white/10 hover:border-white hover:text-white
}

.gradient-border-rounded span {
	margin: auto;
}

/* Animation uchun @keyframes */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Top element doimiy animatsiya qiladi */
.shadow-top {
  animation: fadeInOut 2.8s infinite; /* Doimiy animatsiya */
}

/* Left va Right uchun navbat bilan animatsiya */
.shadow-left {
  animation: fadeInOut 3s infinite;
  /* animation-delay: 0s; Left birinchi */
}

.shadow-right {
  animation: fadeInOut 3s infinite;
  /* animation-delay: 1.5s; Right left'dan keyin boshlanadi */
}

